node_modules
.env
npm-debug.log
yarn-error.log
.env.local
.env.example
.env.development.local
.env.test.local
.env.production.local
coverage/
*.pid
*.seed
*.tgz
config.gypi
node_nodules/
.pnp
.pnp.js
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
build
dist
.nyc_output
coverage
.git-credentials
.vscode
.DS_Store